.list {
  list-style: none;
}

.listContainer {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}